.confirm-box
  .v-card__title
    span
      color #323D47
      font-size 24px
  .v-card__text
    color #6F7B88
    .layout
      border-top: 1px solid #D0D7DD
      .flex:not(:last-child)
        border-right: 1px solid #D0D7DD
      button
        height 44px
        font-size 14px
        &.cancel
          color: #323D47
        &.action
          color: #FE491A
        .v-btn__content
          text-transform: uppercase !important
