.section-definition
  .v-breadcrumbs__item
    color: #FFF !important
  .v-breadcrumbs li .v-breadcrumbs__item--disabled
    color: #FFF !important
  .v-breadcrumbs li:not(:last-child)
    &:after
      color: #FFF !important
.section-definition-toolbar
  .v-toolbar__content, .v-toolbar__extension
    padding: 0
  .toobar-extension
    margin-left: 5px !important
  .breadcrumb-section
    margin-left: -25px !important
  .action-btn
    margin-left: 5px !important
