// Write variables here so We can override the default
// $body-font-family = 'Open Sans'
// $alert-font-size = 18px
@import './variables'
@import './_colors'
@import '~vuetify/src/stylus/main'
@import './_mixins'
@import './_theme-builder'
@import './_gradient'
@import './_buttons'
@import './_input'
@import './_datatable'
@import './_list'
@import './_chips'
@import './_scroll'
@import './_helpers'
@import './_settings'
@import './_sidebar'
@import './_sectionDef'

@import './page_layouts'
@import './_confirmbox'
@import './_texteditor'

// @import './_calendar'
@import './_contacts'
@import './_chat'
// @import './_widgets'

html
  overflow-y: auto
// .v-content
//   // max-height: calc(100vh - 36px)
//   max-height: 100vh
//   // overflow: hidden
