// .scroll-container
//   height: 100%
//   position: relative
//   overflow: hidden !important
//   .ps__rail-y
//     left: auto !important
//     right: 0px
//   .ps__thumb-y
//     left: auto !important
//     right: 0px
//     background-color: rgba(0,0,0,0.30) !important
//   .ps__rail-x
//     top: auto !important
//     bottom: 0px
//   .ps__thumb-x
//     top: auto !important
//     bottom: 0px
//     background-color: rgba(0,0,0,0.30) !important
// .scroll-container-ps
//   height: 100%
//   position: relative
//   overflow: hidden !important

/* width */
::-webkit-scrollbar
  width: 5px

/* Track */
::-webkit-scrollbar-track
  background: rgba(0, 0, 0, 0.1)

/* Handle */
::-webkit-scrollbar-thumb
  background: rgba(0, 0, 0, 0.3)

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: rgba(0, 0, 0, 1)
  width: 8px
