.specifications {
    .v-chip {
        width: 180px;
    }
    .spec {
        padding: 5px; 
        border: 1px solid black; 
        border-radius: 2px; 
        margin-bottom: 3px; 
        line-height: 15px;
    }
}

.envelopeAnimation-enter-active, 
.envelopeAnimation-leave-active {
	transition: opacity 0.25s ease-out;
}

.envelopeAnimation-enter, 
.envelopeAnimation-leave-to {
	opacity: 0;
}



// animation
// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

.bounce-enter {

}
.bounce-enter-active {
	animation-duration: 2.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: bounce;  
}

.bounce-leave {
	
}
.bounce-leave-active {
	
}



.bounce {
  // -webkit-animation-duration: 2.5s;
  // -webkit-animation-fill-mode: both;
  // -webkit-animation-timing-function: linear;
  // -webkit-animation-iteration-count: infinite;    
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: bounce;  
} 


@keyframes bounce { 
  	0%, 20%, 40%, 60%, 80%, 100% {
  		transform: translateY(0);
  	}
  	30%, 50%, 70% {
  		transform: translateY(-10px);
  	}
} 


// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
// animation







// dropzone upload
// dropdropdropdropdropdropdropdropdropdropdropdropdropdropdropdropdrop
.dropzone-custom-content {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px 20px;

}

.dropzone-custom-title {
  margin-top: 0;
  color: #00b782;
}

.dropzone .dz-preview.dz-error .dz-error-message {
    top: 20px;	
}

.dropzone.dz-started .dz-message,
.dropzone .dz-preview.dz-image-preview {
	z-index: 1;
}

// dropdropdropdropdropdropdropdropdropdropdropdropdropdropdropdropdrop
// dropzone upload

