.specifications {
    .v-chip {
        width: 180px;
    }
    .spec {
        padding: 5px; 
        border: 1px solid black; 
        border-radius: 2px; 
        margin-bottom: 3px; 
        line-height: 15px;
    }
}

.envelopeAnimation-enter-active, 
.envelopeAnimation-leave-active {
	transition: opacity 0.25s ease-out;
}

.envelopeAnimation-enter, 
.envelopeAnimation-leave-to {
	opacity: 0;
}
