.specifications {
    .v-chip {
        width: 180px;
    }
    .spec {
        padding: 5px; 
        border: 1px solid black; 
        border-radius: 2px; 
        margin-bottom: 3px; 
        line-height: 15px;
    }
}
