for num in 0 1 2 3 4
  .pos-top-{num}px
    top: num px

  .pos-bottom-{num}px
    bottom: num px

  .pos-right-{num}px
    right: num px

  .pos-left-{num}px
    left: num px

  .pos-tl-{num}px
    top: num px
    left: num px

  .pos-tr-{num}px
    top: num px
    right: num px

  .pos-bl-{num}px
    bottom: num px
    left: num px

  .pos-br-{num}px
    bottom: num px
    right: num px

for num in range(5px, 150px, 5)
  .pos-top-{num}px
    top: num px

  .pos-bottom-{num}px
    bottom: num px

  .pos-right-{num}px
    right: num px

  .pos-left-{num}px
    left: num px

  .pos-tl-{num}px
    top: num px
    left: num px

  .pos-tr-{num}px
    top: num px
    right: num px

  .pos-bl-{num}px
    bottom: num px
    left: num px

  .pos-br-{num}px
    bottom: num px
    right: num px

  .pt--{num}
    padding-top num px
  .pb--{num}
    padding-bottom num px
  .pl--{num}
    padding-left num px
  .pr--{num}
    padding-right num px
  .pa--{num}
    padding num px
  .px--{num}
    padding-left num px
    padding-right num px
  .py--{num}
    padding-top num px
    padding-bottom num px

  .mt--{num}
    margin-top num px
  .mb--{num}
    margin-bottom num px
  .ml--{num}
    margin-left num px
  .mr--{num}
    margin-right num px
  .ma--{num}
    margin num px
  .mx--{num}
    margin-left num px
    margin-right num px
  .my--{num}
    margin-top num px
    margin-bottom num px

for num in 5 6 8 10 12 14 15 16 20
  .border-radius{num}
    border-radius: num px

for num in 0 1 2 9 99 999 9999
  .z-index-{num}
    z-index: num !important

for num in range(8px, 50px, 1)
  .font-size-{num}
    font-size: num !important

for num in range(100px, 900px, 50)
  .width-{num}x
    width: num
  .height-{num}x
    height: num

  .max-width-{num}x
    max-width: num
  .max-height-{num}x
    max-height: num

for num in range(100, 700, 100)
  .font-weight-{num}
    font-weight: num

for num in range(50px, 200px, 25)
  .box-{num}
    height: num !important
    width: num !important
    min-width: num !important

for num in range(1px, 10px, 1)
  .border-{num}px
    border: num solid

.margin-horiz-center
  margin: 0 auto
.height-auto
  height: auto
.full-height
  height: 100% !important
.hide, .invisible
  display: none
  opacity: 0
.bold
  font-weight: bold

.no-mrpd
  margin: 0 !important
  padding: 0 !important

.margin-auto
  margin: 0 auto !important

.pos-relative
  position: relative

.pos-absolute
  position: absolute

.no-bg
  background: none !important

.block-ele
  display: block !important

.capitalize-text
  text-transform: capitalize !important

.lowercase-text
  text-transform: lowercase !important

.uppercase-text
  text-transform: uppercase !important

.small-caps-text
  text-transform: capitalize !important
  font-variant: small-caps !important

.left-align
  text-align: left

.right-align
  text-align: right

.center-align
  text-align: center

.centered
  width: 100%
  margin:auto
  text-align: center

.is-flex
  display: flex
  flex: none
.flex-inherit
  flex: inherit
.flex-fix
  flex-basis: 0

.no-box-shadow
  box-shadow: none !important
.cursor-pointer
  cursor: pointer
.heading-line
  display: flex
  flex-direction: row
  justify-content: center
  text-align: center
  &:before, &:after
    background-color: #ddd
    content: '\a0'
    flex-grow: 1
    height: 1px
    position: relative
    top: 0.5em
  &:before
    margin-right: 10px
  &:after
    margin-left: 10px

.vuse-tab-section
  .tabs__wrapper--scrollable
    margin: 0 26px !important
.vuse-ps-scrollbar
  overflow: hidden !important
  .ps__thumb-y
    background-color: rgba(0,0,0,0.30) !important

.overflow-y-auto
  overflow-y: auto
.overflow-initial
  overflow: initial
.no-text-decoration
  text-decoration: none !important

for num in 5 6 8 10 12 14 15 16 20
  .border-radius{num}
    border-radius: num px

for num in 0 1 2 9 99 999 999
  .z-index-{num}
    z-index: num !important

.circle-img
  border-radius: 50%
  height: inherit
  width: inherit
.clean-bg
  box-shadow: none
  background: none !important
  background-color: none !important
/*List helper*/
.list
  &.v-menu-list
    padding: 15px
    border-radius: 4px
    div
      margin: 3px 0
      &.active-state
        a
          color: rgba(0,0,0,0.87)
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
      a
        color: rgba(0,0,0,0.87)
        border-radius: 4px
        .v-list__tile__title
          ele-font()
          font-size: 15px
        .compact-action
          min-width: 35px
        &:hover
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
          .menu-list-hover-text
            color: #FFF
  &.v-menu-list-npd
    padding: 0px
    div
      margin: 3px 0
      &.active-state
        a
          color: rgba(0,0,0,0.87)
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
      a
        color: rgba(0,0,0,0.87)
        .v-list__tile__title
          ele-font()
          font-size: 15px
        .compact-action
          min-width: 35px
        &:hover
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
          .menu-list-hover-text
            color: #FFF
  &.v-menu-trans-list-npd
    padding: 0px
    div
      a
        color: rgba(0,0,0,0.87)
        .v-list__tile__title
          ele-font()
          font-size: 15px
        .compact-action
          min-width: 35px
        &:hover
          background: rgba($theme.menuhover, 0.2) !important
      &.active-state
        a
          color: rgba(0,0,0,0.87)
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
          &:hover
            background: $theme.primary !important
  &.v-menu-trans-list
    padding: 15px
    border-radius: 4px
    div
      a
        color: rgba(0,0,0,0.87)
        .v-list__tile__title
          ele-font()
          font-size: 15px
        .compact-action
          min-width: 35px
        &:hover
          background: rgba($theme.menuhover, 0.2) !important
      &.active-state
        a
          color: rgba(0,0,0,0.87)
          background: $theme.primary !important
          .v-list__tile__title
            color: rgba(255, 255, 255, 0.87)
          i
            color: #FFF
          &:hover
            background: $theme.primary !important
.char-circle
  height: 40px
  width: 40px
  align-items: center
  border-radius: 50%
  display: inline-flex
  justify-content: center
  text-align: center
  vertical-align: middle

.hide-input-grp-detail
  .input-group__details
    display: none
    opacity: 0
.xs-icon
  font-size: 1rem !important

.clear-fx
  clear: both

.inline-flex
  display: inline-flex

.is-flex
  display: flex
  flex: none

.is-fl-block
  display: block
  float left
  flex: none

.dash-border
  border-style: dashed !important

.dont-break-out
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto

.overflow-x
  overflow-x: auto !important

.overflow-hidden
  overflow: hidden !important
.bold-icon
  font-weight: bold

.text-avatar-style
  color: $theme.avatar-text
  font-weight: bold

.span-text-avatar
  height: inherit
  width: inherit
  border-radius (50%)
  background: #d6dadc
  @extend .text-avatar-style

for num in range(10, 80, 10)
  .span-text-avatar-{num}
    display: flex
    justify-content: center
    align-items: center
    height: num px
    width: num px
    border-radius (50%)
    @extend .text-avatar-style

.vert-middle
  display: flex
  justify-content: center
  align-items: center
.flex-0
  flex: 0

.headline-text
  color #454F5A
  font-size 22px

.headline-caption-text
  color #677484
  font-size 17px
.dialog-title
  font-size: 35px
  line-height: 1
.section-spacer
  height: 10px
  width: 60px

.pl0-child-div
  div
    padding-left 0
.card--flat
  border-radius: 0 !important

.v-toolbar
  &.content-px12
    .v-toolbar__content
      padding: 0 12px
  &.content-px10
    .v-toolbar__content
      padding: 0 10px
  &.content-px5
    .v-toolbar__content
      padding: 0 5px
  &.content-px0
    .v-toolbar__content
      padding: 0
