.vuse-input
  &.no-border
    .v-input-group__input
      border: none !important
      border-radius: 0px
      padding: 8px 10px
  &.white-bg
    .v-input-group__input
      background: #FFF !important
  &.no-details-input
    .v-input-group__details
      display none !important
  &.bdr-rds3
    .v-input-group__input
      border-radius 3px
  &.bdr-rds6
    .v-input-group__input
      border-radius 6px
.box-input
  @extend .vuse-input
  padding 0
  &.box-z-index
    z-index 1
  &.v-input-group--required:not(.v-input-group--dirty)
    .v-input-group__input
      position: relative
      &:before
        top: 10px
        left: 3px
        content: "*"
        position: absolute
        color: $theme.secondary

  &.v-input-group--prepend-icon
    .v-input-group__input
      &:before
        left: 35px !important
  &.caps-input input
    text-transform capitalize !important
  &.v-input-group--focused
    .v-input-group__input:before
      content: ""
      position: absolute
  .v-input-group__input

  .v-input-group__hint
    color: #677484
    font-size: 15px
  .v-input-group__details
    max-width: 100% !important

  .v-input-group__prepend-icon
    min-width 31px !important

  &.v-input-group--textarea
    .v-input-group__input
      border: 1.5px solid #bfcfe0 !important
      border-radius: 6px
      padding: 4px 10px !important
  &.two-cols
    flex: 0 0 50%;
    .v-input-group__input
      max-height 49px !important
  &.no-details
  .v-input-group__input
    border: 1.5px solid #bfcfe0 !important
    border-radius: 6px
    padding: 4px 10px
  .v-input-group__append-icon
    color: #BFCFE0 !important
  .v-input-group__details
    padding-top 2px
  .v-input-group__details:before, .v-input-group__details:after
    opacity: 0
  .v-input-group__messages
    padding-left: 0 !important
.v-input-group__messages .v-input-group__error
  text-align: left !important
.center-select-controls
  .v-input-group__input
    i, .v-input-group--selection-controls__ripple
      left: calc(50% - 15px) !important
.box-selections
  .v-input-group__selections
    min-height 50px
.v-input-no-details
  .v-input-group__details
    display: none
.clean-textarea
  .v-input__slot
    border: none !important
    height inherit
    margin-bottom 0

.no-details
  .v-text-field__details
    display: none !important
  .v-input__control
    .v-input__slot
      margin-bottom 0 !important

.v-textarea-border-1px
  .v-input-group__input
    border-width: 1px !important
    padding: 13px !important

.add-comment
  .v-avatar
    left: 58px
    top: 20px
    z-index: 1

.white-text-input
  input
    color: #FFF !important

.code-mask-box
  height: 80px
  font-size: 4.5em
  width: 100%
  border: 1.5px solid #bfcfe0
  border-radius: 6px
  padding: 8px 7px
  letter-spacing: 4px

.code-mask-box-fix
  height: 60px
  font-size: 4em
  max-width: 230px
  width: 230px
  border: 1.5px solid #bfcfe0
  border-radius: 6px
  padding: 8px 7px
  letter-spacing: 4px

.dense-input
  .v-input__slot
    margin-bottom 0
  .v-messages
    display none
