@import '~vuetify/src/stylus/settings/_colors'
$body-font-family :=  'Roboto', sans-serif
// $font-size-root := 15px
$theme := {
  // primary: $deep-purple.base
  accent: $deep-purple.accent-2
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: #00C486
  sidebar: #241d3b
  act: #00C486
  avatar-text: #444444
  menuhover: #BFCFE0
}

$board-labels := {
  nolabel: #677484,
  complete: #62BDA0,
  inprogress: #FEBE36,
  pendingreview: #4DA1FF,
  notstarted: #8A75AE,
  overdue: #D75656,
  hightpriority: #FF3279
}

$sidebar := {
  onhover: rgba(0,0,0,0.20)
  groupActive: rgba(0,0,0,0.30)
}
