.settings-btn
  top: 40%
  right: 0
  min-width: 50px
  z-index: 3
  .v-btn__content
    padding: 0 !important
.settings-drawer
  z-index: 4
.settings-list
  .v-list__tile
    padding: 0
    .v-list__tile__title, .v-list__tile__sub-title
      padding: 0 16px
  .v-list__tile__action
    padding: 0 16px 0 16px
